VERSION=v2.9
ACME_EMAIL=contact@example.com
DASHBOARD_ENABLED=false
DASHBOARD_DOMAIN=traefik.example.com
# Credentials hash for basic auth must be generated with this cmd: echo $(htpasswd -nB user) | sed -e s/\\$/\\$\\$/g
# https://doc.traefik.io/traefik/middlewares/http/basicauth/
# You MUST update this field if you enable the dashboard as it's public by default.
# Below is an example of hash for credentials: user/password
DASHBOARD_BASIC_AUTH_CREDENTIALS=user:$$apr1$$yzGnRS0o$$ZyrU8QDRc42nS2J5f0iFg0